.top-btn {
    float: right;
    margin: 1rem 1rem 1rem 1rem;
}

.btn-style {
    padding: 2rem 2rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: none;
    margin: 10rem 4rem 1rem 1rem;
}


.btn-style:hover {
    cursor: pointer;
    background-color: #eece1a;
    transition: ease-in .2s;
}

#arrw {
    font-size: 200%;
}