/*ProjectItem*/

.container {
    display: inline-flex;
    margin-right: 10px;
    margin-left: 20px;
}

.blockExtends {
    background-color: #000000;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 0;
    border-radius: 8px;
    border: solid 2px #282c34;
    border-bottom: none;
    width: 17.353em;
    height: 3em;
}

#holder {
    font-size: 12px; 
    display: inline;
}

.langCSS {
    color:#086300;
    margin-top: 2em;
    margin-left: 7.7em;
}

.langCSS1 {
    color:#61dafb;
    margin-top: 2em;
    margin-left: 45px;
}

.langCSS2 {
    color:#4c6ef5;
    margin-top: 2em;
    margin-left: 20px;
}

.langCSS3 {
    color:#e34c26;
    margin-top: 2em;
    margin-left: 20px;
}

.langCSS4 {
    color:#f1e05a;
    margin-top: 2em;
    margin-left: 45px;
}

#alertText {
    color: #ff0000;
}

button.btn-darker {
    border-style: none;
    display: block;
    padding: .5rem 1rem .5rem 1rem;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 #252525; 
}

.btn-dark-cards, .btn-light-cards {
    display: block;
    padding: .5rem 1rem .5rem 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 #252525; 
}

.btn-dark-cards {
    background: #555f66;
    color: #fff;
     
    }

.btn-darker {
    background: #1e2022;
    color: #fff;
}   

.btn-darker:hover {
    cursor: pointer;
}
    
.btn-light-cards {
    background: #c9d6df;
    color: #333; 
}

.btn-dark-cards:hover, .btn-light-cards:hover {
    box-shadow: 4px 6px 14px 0 #8a8a8a;
    transition: ease-in .2s;
    background: #eece1a;
    color: #000;
}

/*.codeBlock1 {
    background-color: #282c34;
    text-align: center;
    margin-top: -1em;
    border: solid 2px #282c34;
    border-radius: 8px;
    height: 300px;
    width: 17.4em;
}*/

/*#holder1 {
font-size: 8.5px;
text-align: left;
margin-left: 1em;
}*/

/*.block {
    display: inline-block;
}*/

/*.allCodeBlocks {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        display: block;
        margin-left: -10px
    }
    .blockExtends {
        background-color: #000000;
        text-align: left;
        margin-top: 1em;
        margin-bottom: 0;
        border-radius: 8px;
        border: solid 2px #282c34;
        border-bottom: none;
        width: 207px;
        height: 3em;
    }
    .langCSS {
        color:#086300;
        margin-top: 2em;
        margin-left: 5.7em;
    }
    .langCSS1 {
        color:#61dafb;
        margin-top: 2em;
        margin-left: 15px;
    }
    .langCSS4 {
        color:#f1e05a;
        margin-top: 2em;
        margin-left: 16px;
    }
    .btn-light-cards {
        background: #c9d6df;
        color: #333;
        font-size: 12px;
        text-align: center;
        width: 179px;
    }

    .btn-dark-cards {
        background: #555f66;
        color: #fff;
        font-size: 12px;
        text-align: center;
        width: 179px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
