/*About*/

h1,
h2,
h3 {
  font-weight: 400; 
}

#about {
    padding: 4rem;
    min-height: calc(100vh - 60px);
}

h1.lg-heading-about,h2.lg-heading-about,h3.lg-heading-about {
    font-size: 6rem; 
}

h1.sm-heading,h2.sm-heading,h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: #49494980;  
}

.sm-heading-about {
    border-radius: 8px;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: #49494980; 
    width: 25%;
}

.text-secondary {
    color: #eece1a; 
}

.about-info {
    display: inline-block;
    margin: auto;
}


.about-info .bio1 {
    font-size: 1rem;

}

.about-info .bio2 {
    font-size: 1rem;

}

.lang-icons {
    display: flex;
}

.lang-icons div {
    margin: 6px 31px 2px 0px;
}

.about-info .bio3 {
    font-size: 1rem;
 
}

.about-info .job {
    background: #21a867;
    padding: 0.5rem;
    border-bottom: #eece1a 5px solid; 
}

#viewport1 {
    float: right ;
    margin-right: 12em;
    margin-top: -7.7em;
    margin-bottom: 10em;
    color: black;
    background-color: #ffffff;
    padding: 1em;
    font-size: large;
    font-weight: 600;
    width: 33%;
    border: 2px solid #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 #252525;
}

#viewport1:hover {
    padding: 1.04em;
    border: 2px solid #24f09162;
    box-shadow: 4px 6px 16px 0 #ffed4f;
    transition: ease-in .2s;
}

#viewport2 {
    color: black;
    background-color: #ffffff;
    padding: 1em;
    margin-top: 6em;
    margin-bottom: 10em;
    font-size: large;
    font-weight: 600;
    width: 43%;
    border: 2px solid #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 #252525;
}

#viewport2:hover {
    padding: 1.04em;
    border: 2px solid #24f09162;
    box-shadow: 4px 6px 16px 0 #ffed4f;
    transition: ease-in .2s;
}

#viewport3 {
    float: right;
    margin-right: 9em;
    color: black;
    background-color: #ffffff;
    padding: 1em;
    font-size: large;
    font-weight: 600;
    width: 35%;
    border: 2px solid #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 #252525;
}

#viewport3:hover {
    padding: 1.04em;
    border: 2px solid #24f09162;
    box-shadow: 4px 6px 16px 0 #ffed4f;
    transition: ease-in .2s;
}
  
.boxesAbout div {
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.5s ease-out;
    border-radius: 16px; 
    background-color: #252525;  
}

.boxesAbout div:hover {
    cursor: pointer;
    padding: 0.5em 1em;
    background: #21a867;
    color: #000; 
}
  
.boxes div:hover span {
    cursor: pointer;
    color: #000; 
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .aboutPage, #about {
        overflow: hidden;
    }
    h1.lg-heading-about {
        margin-top: 1.5em;
        margin-bottom: 0;
        text-align: center;
        font-size: 40px;
    }
    .sm-heading-about {
        text-align: center;
        font-size: 12px;
        border-radius: 8px;
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: #49494980;
        width: auto; 
    }
    #viewport1 {
        margin-top: 0em;
        margin-bottom: 6em;
        color: black;
        background-color: #ffffff;
        padding: 1em;
        font-size: 10px;
        font-weight: 600;
        width: 16.8em;
        border: 2px solid #ffffff;
        border-radius: 16px;
        box-shadow: 0 4px 8px 0 #252525;
    }
    .lang-icons {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        margin-left: 10px;
        padding: 8px;
    }
    .bio2 {
        margin-top: 10em;
    }
    #viewport2 {
        margin-top: 25em;
        color: black;
        background-color: #ffffff;
        padding: 1em;
        font-size: 10px;
        font-weight: 600;
        width: 16.8em;
        border: 2px solid #ffffff;
        border-radius: 16px;
        box-shadow: 0 4px 8px 0 #252525;
    }
    #viewport3 {
        margin-top: -6em;
        float: left;
        color: black;
        background-color: #ffffff;
        font-size: 10px;
        font-weight: 600;
        width: 16.8em;
        border: 2px solid #ffffff;
        border-radius: 16px;
        box-shadow: 0 4px 8px 0 #252525;
    }
    .boxesAbout div {
        font-size: 8px;
        text-align: center;
        padding: 1rem 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        transition: all 0.5s ease-out;
        border-radius: 16px; 
        background-color: #252525;  
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}