/*Contact*/
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; 
}

#about {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}

h1.lg-heading-contact,h2.lg-heading-contact,h3.lg-heading-contact {
  font-size: 6rem; 
}

h1.sm-heading-contact,
h2.sm-heading-contact,
h3.sm-heading-contact {
  border-radius: 8px;
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: #49494980;
  width: 29%;  
}

#sm-heading-about {
  border-radius: 8px;
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: #49494980; 
  width: 25%;
}

.text-secondary, span.text-secondary {
  color: #eece1a; 
  text-align: center;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
}
  
.boxes div {
  font-size: 1.5rem;

  padding: 1.5rem 2.5rem;
  transition: all 0.5s ease-out;
  border-radius: 16px; 
}
  
.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: #21a867;
  color: #000; 
}
  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #contact {
    overflow: hidden;
  }
  h1.lg-heading-contact,h2.lg-heading-contact,h3.lg-heading-contact {
    margin-top: 1.5em;
    font-size: 35px;
    text-align: center; 
  }
  h2.sm-heading-contact {
    text-align: center;
    border-radius: 8px;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    font-size: 10px;
    background: #49494980;
    width: auto;
  }
  .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .boxes div {
    font-size: 15px;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    transition: all 0.5s ease-out;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
  

  
  

  
  

  