.project {
    padding: 4rem;
    min-height: calc(100vh - 60px);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; 
}

#about {
    padding: 4rem;
    min-height: calc(100vh - 60px);
}

#about h1 {
    margin-top: .5vh; 
}

h1.lg-heading,h2.lg-heading,h3.lg-heading {
    font-size: 6rem; 
    
}

h1.sm-heading-projects,
h2.sm-heading-projects,
h3.sm-heading-projects {
    border-radius: 8px;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: #49494980;
    font-weight: 400;
    font-size: 1.4rem;
    width: 23%;  
}



.projects, .item {
    text-align: center;
    display: inline-block;     
}

img {
    width: 275px;
    height: 300px;
    border: 3px #fff solid;
    border-radius: 8px; 
    margin-top: -1em;
}

 img:hover {
     cursor: pointer;
    border-color: #eece1a;
    transition: all 0.5s ease-out;
}

.btn, .btn-dark, .btn-light, .btn-darker {
    display: block;
    padding: .5rem 1rem .5rem 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 #252525; 
}

/*a {
    width:14.3em;
}*/

.btn:hover, .btn-dark:hover, .btn-light:hover {
    box-shadow: 4px 6px 14px 0 #8a8a8a;
    transition: ease-in .2s;
}

#regbtn {
  display: inline;
}

#downloadtext span{
  display: none;
}

.exetext {
color: #ff3f00;
}


.btn-dark {
background: #c4c4c4;
color: #fff;
 
}

.btn-light {
background: #c4c4c4;
color: #333; 
}


  